
header div .first{
    background: #040325;
    color:#fff;
}

.carousel-inner
{
    width:auto;
    height:auto;
    !important;
}

header div .second, header div .third {
    background:#040325;
}
.third{
    padding:5px;
    display: flex;
    align-items: center; 
    color:#fff;
}

.social .circle {
    border-radius: 50px;
    line-height: 50px;
    background: #ffffff;
    width:50px;
    height:50px;
    text-align: center;
    color:#040325;
}

article {
    padding:5px 0;
}

.gallery{
    padding:5px 0   ;
    
    background:#040325;
}
.grid-item{
    max-height: 200px;
}

.grid-sizer { width: 33,33%; }

.modal-image .modal-content{
    padding:5px;
    text-align: center;
}

footer{
    background: #e6e6e6;
}

.campaña{
    background: #fff;
    border: 2px solid;
    font-weight: bold;
}

label.error{
    color:red;
}